<h1> Form for adding new movies</h1>

<%= render 'form_manual' %>

<p><%= link_to "Look at Movies", '/movies' %></p>
<p>Add a new movie <%= link_to "HERE", new_movie_path %></p>
<p>Go back home <%= link_to "HOME", root_path%></p>

