<H1>Search Results</h1>

<%= render 'search_show' %>

<%= render 'search_form' %>

<script>
$(document).ready(function() {
  var par = $('#secret');
  $(par).hide();
  
  $("button").click(function(e){
    $(par).toggle();
      e.preventDefault();
  });
});

</script>

<body>

<button>Toggle</button>
<div id="secret">

    <%= render 'multi_form' %>

</div>
</body>